@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('animations.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white:#ffffff;
    --azul-escuto:#0E2048;
    --marrom:#B36D53;
}

body {
    height: 100vh;
    background-color: var(--azul-escuto);
    overflow: hidden;

    font-family: 'Bebas Neue';
    font-size: 2rem;
    color: white;
}
main {
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

div[class="option-left"] {
    animation: animate-options-left 1s ease-in-out;
    animation-fill-mode: both;
    cursor: pointer;
}

div[class*="option-right"] {
    animation: animate-options-left 1s ease-in-out;
    animation-fill-mode: both;
    cursor: pointer;
}

div[class*="option-right"]:last-child {
    animation: animate-options-last 1s ease-in-out;
    animation-fill-mode: both;
    cursor: pointer;
}

span[class*="text-option"] {
    animation: animate-footer 1s ease-in-out 1s;
    animation-fill-mode: both;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;

    animation: animate-img 1s ease-in-out;
    animation-fill-mode: forwards;
}

.container-img img {
    width: 25%;
    -webkit-box-shadow: 5px 7px 16px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 5px 7px 16px -3px rgba(0,0,0,0.58);
    box-shadow: 5px 7px 16px -3px rgba(0,0,0,0.58);
    border-radius: 50%;
}

.container-img img:hover {
    animation: animate-logo .4s ease-in-out;
    animation-iteration-count: 2;
}

.container-text {
    width: 30%;
    text-align: center;

    animation: animate-text 1s ease-in-out 1s;
    animation-fill-mode: both;
}

.container-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-options .grid-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    overflow: hidden;
}

.container-options .grid-options .option-right, .option-left {
    height: 4.1rem;
    width: 15rem;
    background-color:var(--marrom);
    

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 5px 7px 16px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 5px 7px 16px -3px rgba(0,0,0,0.58);
    box-shadow: 5px 7px 16px -3px rgba(0,0,0,0.58);
    
    clip-path: polygon(7% 0%, 93% 0%, 100% 20%, 100% 80%, 93% 100%, 7% 100%, 0% 80%, 0% 20%);

    cursor: pointer;
}

.container-options .grid-options .option-right, .option-left span {
    font-family: "Chakra Petch";
    font-size: 1.7rem;
}

.container-options .grid-options .option-right:last-child {
    grid-column: span 2;
    margin-left: 8rem;
    margin-right: 8rem;
}

.container-options .grid-options .option-right:hover, .option-left:hover {
    transform: scale(1.1);
    transition: .3s;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;
    width: 15%;
    background-color: white;

    clip-path: polygon(7% 0%, 93% 0%, 100% 20%, 100% 80%, 93% 80%, 7% 80%, 0% 80%, 0% 20%);

}

.container-footer a{
    padding: 0 20px 0;
    margin-bottom: 20px;

    animation: animate-footer 1s ease-in-out 1s;
    animation-fill-mode: both;
}

.container-footer a i {
    color: var(--marrom);
}

.container-footer a:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

@media screen and (max-width: 1500px) {
    .container-text {
        width: 50%;
    }

    .container-footer {
        width: 20%;
    }
}

@media screen and (max-width:1080px) {
    .container-img img {
        width: 30%;
        transition: 0.5s;
    }
    .container-text {
        width: 60%;
        font-size: 1.8rem;
    }

    .container-options .grid-options .option-right, .option-left span {
        font-size: 1.5rem;
        transition: 0.5s;
    }

    .container-footer {
        width: 30%;
    }
}

@media screen and (max-width:700px) {
    .container-img img {
        width: 40%;
    }

    .container-text {
        width: 70%;
        font-size: 1.5rem;
    }

    .container-options .grid-options .option-right, .option-left span {
        font-size: 1.3rem;
    }

    .container-options .grid-options .option-right span{
        margin-left: 80px;
    }

    .container-options .grid-options .option-right:last-child span{
        margin-left: 0px;
    }

    .container-options .grid-options .option-left span{
        margin-right: 80px;
    }

    .container-footer {
        width: 35%;
    }
}

@media screen and (max-width:400px) {
    .container-img img {
        width: 45%;
    }

    .container-text {
        width: 80%;
        font-size: 1rem;
    }

    .container-footer {
        height: 14%;
    }

    .container-options .grid-options {
        grid-gap: 0.5rem;
    }

    .container-options .grid-options .option-right, .option-left {
        height: 3rem;
    }
    .container-options .grid-options .option-right, .option-left span {
        font-size: 1rem;
    }

    .container-footer {
        width: 70%;
    }

    .container-footer a:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
    .container-options .grid-options .option-right:hover, .option-left:hover {
        transform: scale(1.05);
        transition: .3s;
    }
}

@media screen and (max-width:250px) {
    .container-img img {
        width: 70%;
    }

    .container-text {
        width: 90%;
        font-size: 1rem;
    }

    .container-options .grid-options .option-right, .option-left span {
        font-size: 1rem;
    }

    .container-footer {
        width: 100%;
    }

    .container-footer a:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .container-options .grid-options .option-right:hover, .option-left:hover {
        transform: scale(1.05);
        transition: .3s;
    }
}

