@media screen and (max-width: 1250px) {
    .container-text {
        font-size: 1.6rem;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1080px) {
    .container-img img{
        width: 25%;
        transition: 0.5s;
    }
    .container-text {
        width: 40%;
        font-size: 1.6rem;
    }
}

@media screen and (max-width:820px) {
    .container-img img{
        width: 35%;
        transition: 0.5s;
    }

    .container-text {
        width: 60%;
        font-size: 1.7rem;
    }

}

@media screen and (max-width:600px) {
    .container-img img{
        width: 50%;
        transition: 0.5s;
    }

    .container-text {
        width: 100%;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 460px) {
    .container-img img{
        width: 60%;
        transition: 0.5s;
    }

    .container-text {
        width: 100%;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 350px) {
    .container-img img{
        width: 70%;
        transition: 0.5s;
    }

    .container-text {
        width: 100%;
        font-size: 1.3rem;
    }
}

